#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
html{
  background-color: rgba(0, 0, 0, 0.901);
}
/* header css */
h1{
  color:azure;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  
 
}
/* home css */
.search-bar-container{
  margin-bottom: 4rem;
}
.input-style{
  width: 15.5rem;
  height: 1.9rem;
  margin:0.5rem;
  border-color: black;
  border-radius: 0.8rem;
  background-color:rgb(94, 78, 59);
  color:white;
}

.btn{
  width:8rem;
  height: 1.9rem;
  margin:0.5rem;
  border-radius: 0.8rem;
  background-color: rgb(41, 10, 10);
  color: white;
}
.btn:hover{
  background-color:rgb(249, 247, 245);
  color:  rgb(41, 10, 10);
  
}
.cards-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2.8rem;
}
/* card css */
.cards{
  width: 300px;
  background-color:rgb(94, 78, 59);
  border-radius: 1.4rem ;
  
}
img{
  width:300px;
  border-radius: 1.4rem  1.4rem 0 0
  
}

.description{
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  
  gap:0.5rem;
  padding: 1.5rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.first-title{
  color:rgb(240, 241, 241);
  font-weight: bold;
}
.movie-title,
.movie-type{
  text-align: start;
}
.movie-title,
.movie-type,
.movie-class,
.movie-duration{
  color:rgb(136, 134, 133);
 margin:0.1rem;
}

.btn-befor,
.btn-next{
  width:10rem;
  height: 2rem;
  margin: 1.5rem;
  background-color: rgb(41, 10, 10);
  color: white;
  border-radius: 0.8rem;
  
}
.btn-befor:hover{
  background-color:rgb(249, 247, 245);
  color:  rgb(41, 10, 10);
  
}

.btn-next:hover{
  background-color:rgb(249, 247, 245);
  color:  rgb(41, 10, 10);
  
  
}

/* footer css */

